
.markdown-preview {
    /* Probably (?) needed for TestPreview */
    line-height: 24px;
    font-size: 16px;
}

.markdown-ol {
    /* Probably (?) needed for TestPreview */
    margin-left: 1rem;
}

.markdown .math {
    position: relative;
    z-index: -1;
    @apply text-slate-900;
}

.markdown-blockquote p {
    margin-bottom: 0;

    @apply text-slate-500;
}

.markdown-img {
    min-width: 300px;
    min-height: 300px;
}