

.TestPreviewText {
	/* https://tailwindcss.com/docs/font-size */
	--line-height: 24px;
	--line-count: 6;
	
	height: 	calc(calc(var(--line-height) * var(--line-count)));
	max-height: calc(calc(var(--line-height) * var(--line-count)));

	text-overflow: ellipsis;
	overflow: hidden;

	text-align: left;

	display: -webkit-box !important;
	-webkit-line-clamp: var(--line-count);
	-webkit-box-orient: vertical;
	white-space: normal;
}
