
.TestCardTitle {
	overflow: hidden;
	text-overflow: ellipsis;
}

.TestCardText {
	--line-count: 4;
	height: 	calc(calc(1.25rem * var(--line-count)) + 0.75rem);
	max-height: calc(calc(1.25rem * var(--line-count)) + 0.75rem);

	text-overflow: ellipsis;
	overflow: hidden;

	display: -webkit-box !important;
	-webkit-line-clamp: var(--line-count);
	-webkit-box-orient: vertical;
	white-space: normal;
}

.TestCardImgBounds {
/*	position: absolute;*/
/*	top: 0;*/
	height: 9rem;
	overflow: hidden;
}

.TestCardImg {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
