
.solution {
    transform-origin: top;
    animation: scaleIn 0.2s;
}

@keyframes scaleIn {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }
    50% {
        opacity: 30%;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
